{% extends 'index.html' %}

{% block content %}
{{ super() }}
{% if (request.path == '/redir/default') or (request.path == '/redir/default_update') %}
<h2>Default Settings</h2>
<form class="form-horizontal" action="/redir/default_update" method="POST">
  <div class="form-group">
    <label class="control-label col-sm-2" for="ip">Bind Address:</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="ip" value="{{ ip }}" name="ip">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="port">Bind Port:</label>
    <div class="col-sm-4"> 
      <input type="text" class="form-control" id="port" value="{{ port }}" name="port">
    </div>
  </div>
  <div class="form-group"> 
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Save</button>
    </div>
  </div>
</form>
{% elif (request.path == '/redir/local') or (request.path == '/redir/local_add') %}
<h2>Local Redirections</h2>
<p>Use the table below to add or delete redirections to services running on the local machine.</p>
<table class="table">
    <thead>
	<tr>
	    <th>Path</th>
	    <th>Port</th>
	    <th><soan class="glyphicon glyphicon-pencil"></span></th>
	</tr>
    </thead>
    <tbody>
	{% for redirect, port in localsrv.iteritems() %}
	<tr>
	    <td>{{ redirect }}</td>
	    <td>{{ port }}</td>
	    <td data-field="glyphicons"><a href="#"><span class="glyphicon glyphicon-minus"></span></a></td>
	</tr>
	{% endfor %}
	<form action="/redir/local_add" method="POST">
	<tr>
	    <td><input type="text" placeholder="redirect path (i.e. /something)" name="path"></td>
	    <td><input type="text" placeholder="redirect port (i.e. 12345)" name="port"></td>
	    <td><button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span></button></td>
	</tr>
	</form>
    </tbody>
</table>
{% elif (request.path == '/redir/remote') or (request.path == '/redir/remote_add') %}
<h2>Redirections to another server</h2>
<p>Use the table below to add or delete redirections to services running on another machine.</p>
<table class="table">
    <thead>
	<tr>
	    <th>Path</th>
	    <th>URL</th>
	    <th><soan class="glyphicon glyphicon-pencil"></span></th>
	</tr>
    </thead>
    <tbody>
	{% for redirect, port in remotesrv.iteritems() %}
	<tr>
	    <td>{{ redirect }}</td>
	    <td>{{ port }}</td>
	    <td data-field="glyphicons"><a href="#" onclick="form.submit();"><span class="glyphicon glyphicon-minus"></span></a></td>
	</tr>
	{% endfor %}
	<form action="/redir/remote_add" method="POST">
	<tr>
	    <td><input type="text" placeholder="redirect path (i.e. /something)" name="path"></td>
	    <td><input type="text" placeholder="URL (i.e. http://foo.com/)" name="url"></td>
	    <td data-field="glyphicons"><button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span></button></td>
	</tr>
	</form>
    </tbody>
</table>
{% elif (request.path == '/redir/logs') %}
<h2>{{ title }}</h2>
<p></p>
<table class="table">
    <tbody>
	{% for line in log %}
	<tr>
	    <td>{{ line }}</td>
	</tr>
	{% endfor %}
	</tbody>
</table>

{% else %}
<h2>The requested URL: {{ request.path }} has not been coded for yet.</h2>
<p>Sorry, check back soon!</p>
{% endif %}
{% endblock %}