{% extends 'index.html' %}

{% block content %}
{{ super() }}
{% if (request.path == url_for('view_defaults')) %}
<div class="col-md-8">
<div class="row"></div>
	<h2>Default Settings</h2><br>
<div class="col-md-9">
<form class="form-horizontal" action="{{ url_for('update_defaults') }}" method="POST">
  <div class="row">
  	<div class="col">
    <label class="control-label" for="ip">Bind Address:</label>
	</div>
    <div class="col">
      <input type="text" class="form-control" id="ip" value="{{ ip }}" name="ip">
    </div>
    <div class="col">
    <label class="control-label" for="port">Bind Port:</label>
	</div>
    <div class="col"> 
      <input type="text" class="form-control" id="port" value="{{ port }}" name="port">
    </div>
  </div>
<div class="row"><br></div>
<div class="row">
  		<div class="col">
    		<label class="form-group" for="logfile">Logfile:</label>
    	</div>
    	<div class="col">
      		<input type="text" class="form-control" id="logfile" value="{{ logfile }}" name="logfile">
    	</div>
		<div class="col">
   				<label class="control-label form-group" for="logging">Enable logging:</label>
		</div>
		<div class="col">
			{% if logging == "true" %}
    				<input type="checkbox" value="true" class="form-control form-group active" checked="checked" id="logging" name="logging">
    		{% else %}
    				<input type="checkbox" value="true" class="form-control form-group" id="logging" name="logging">
    		{% endif %}
  		</div>
</div>
<div class="row"><br></div>
<div class="row">
		<div class="col">
    		<label class="form-group" for="admin_url">Admin Site Redirect:</label>
    	</div>
    	<div class="col">
      		<input type="text" id="admin_url" class="form-control" value="{{ admin_url }}" name="admin_url">
    	</div>
    	<div class="col">
    		<label class="form-group" for="local_ip">Local IP Address:</label>
    	</div>
    	<div class="col">
    		<input type="text" id="local_ip" class="form-control" value="{{ local_ip }}" name="local_ip">
    	</div>
 </div>
<div class="row"><br></div>
<div class="row">
    <div class="col">
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
</div>
<br>
</form>
</div>
</div>
{% elif (request.path == url_for('view_local_srv')) %}
<div class="col-md-7">
<h2>Local Redirections</h2><br>
<p>Use the table below to add or delete redirections to services running on the local machine.</p>
<table class="table">
    <thead>
	<tr>
	    <th>Path</th>
	    <th>Port</th>
	    <th><soan class="glyphicon glyphicon-pencil"></span></th>
	</tr>
    </thead>
    <tbody>
	{% for redirect, port in localsrv.iteritems() %}
	<form action="{{ url_for('delete_local') }}" method="POST">
	<tr>
	    <td>{{ redirect }}</td>
	    <td>{{ port }}</td>
	    <td data-field="glyphicons"><button type="submit" class="btn btn-warning"><span class="glyphicon glyphicon-minus"></span></button></td>
	    <input type="hidden" name="redir_del" value="{{ redirect }}">
	</tr>
	</form>
	{% endfor %}
	<form action="{{ url_for('update_local') }}" method="POST">
	<tr>
	    <td><input type="text" placeholder="redirect path (i.e. /something)" name="path"></td>
	    <td><input type="text" placeholder="redirect port (i.e. 12345)" name="port"></td>
	    <td><button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span></button></td>
	</tr>
	</form>
    </tbody>
</table>
</div>
{% elif (request.path == url_for('view_remote_srv')) %}
<div class="col-md-7">
<h2>Redirections to another server</h2><br>
<p>Use the table below to add or delete redirections to services running on another machine.</p>
<table class="table">
    <thead>
	<tr>
	    <th>Path</th>
	    <th>URL</th>
	    <th><soan class="glyphicon glyphicon-pencil"></span></th>
	</tr>
    </thead>
    <tbody>
	{% for redirect, port in remotesrv.iteritems() %}
	<form action="{{ url_for('delete_remote') }}" method="POST">
	<tr>
	    <td>{{ redirect }}</td>
	    <td>{{ port }}</td>
	    <td data-field="glyphicons"><button type="submit" class="btn btn-warning"><span class="glyphicon glyphicon-minus"></span></button></td>
	    <input type="hidden" name="redir_del" value="{{ redirect }}">
	</tr>
	</form>
	{% endfor %}
	<form action="{{ url_for('update_remote') }}" method="POST">
	<tr>
	    <td><input type="text" placeholder="redirect path (i.e. /something)" name="path"></td>
	    <td><input type="text" placeholder="URL (i.e. http://foo.com/)" name="url"></td>
	    <td data-field="glyphicons"><button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span></button></td>
	</tr>
	</form>
    </tbody>
</table>
{% elif (request.path == url_for('view_logs')) %}
<div class="col-md-9">
<h2>{{ title }}</h2>
<br>
<form action="{{ url_for('clear_logs') }}" method="POST"><p><button type="submit" class="btn btn-warning">Clear Logs</button></p>
<input type="hidden" name="clearlogs" value="1">
</form><br>
{% if log %}
<table class="table">
    <tbody>
	{% for line in log %}
	<tr>
	    <td>{{ line }}</td>
	</tr>
	{% endfor %}
	</tbody>
</table>
{% else %}
<p>Logging is disabled or the logfile couldn't be found!</p>
<p>You can enable logging and set the logfile in <a href="{{ url_for('view_defaults') }}">settings</a>.</p>
{% endif %}
</div>
{% elif (request.path == url_for('send_index')) %}
<div class="col-md-7">
	<h2>PyRedirector Administration</h2>
	<br>
	<p>Use the links on the left to make changes to URL redirections and other application options.</p>
	<p>Check out the <a href="https://www.github.com/kspillane/pyredirector" target="_new">GitHub page</a> for more information.</p>
	<br>
	<h3>Need Help?</h3>
	<p>View the <a href="https://github.com/kspillane/wiki" target="_new">wiki</a> for more information on how to use the program.</p>
	<h3>Still having problems or have an idea for a feature?</h3>
	<p>Submit an issue <a href="https://github.com/kspillane/pyredirector/issues" target="_new">here</a>.
</div>
{% else %}
<div class="col-md-7">
<h2>The requested URL: {{ request.path }} has not been coded for yet.</h2>
<p>Sorry, check back soon!</p>
</div>
{% endif %}
{% endblock %}