<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>PyRedirector - {{ title }} Settings</title>

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/css/simple-sidebar.css" rel="stylesheet">


</head>

<body>

    <div class="row" style="height: 2000px">
        <!-- Sidebar -->
        <div class="col-2 h-100 bg-dark">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="{{ url_for('send_index') }}" target="_new">
                        PyRedirector
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('view_defaults') }}">Settings</a>
                </li>
                <li>
                    <a href="{{ url_for('view_local_srv') }}">Local Redirects</a>
                </li>
                <li>
                    <a href="{{ url_for('view_remote_srv') }}">Remote Redirects</a>
                </li>
                <li>
                    <a href="{{ url_for('view_logs') }}">Logs</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
            <div class="col"><br>
                {% block content %}{% endblock %}
            </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

</html>
